{
  "swagger": "2.0",
  "info": {
    "title": "salesmanagementsimulation",
    "version": "1.0.0",
    "contact": {
      "email": "salesmanagementsimulation-no-reply@bubbleapps.io"
    }
  },
  "host": "salesmanagementsimulation.bubbleapps.io",
  "basePath": "/version-test/api/1.1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/obj/m_salesrep_data/{UniqueID}": {
      "get": {
        "description": "Retrieve a thing of type m_salesrep_data by unique ID",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "UniqueID",
            "in": "path",
            "description": "Unique ID of the m_salesrep_data to retrieve",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved m_salesrep_data",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "$ref": "#/definitions/m_salesrep_data"
                }
              }
            }
          },
          "400": {
            "description": "Database retrieval failure",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "401": {
            "description": "Permission denied",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "500": {
            "description": "Internal bug. Please file a bug report at bubble.io/support/report with the request that triggers this bug",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Modifies a thing of type m_salesrep_data by unique ID",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "UniqueID",
            "in": "path",
            "description": "Unique ID of the m_salesrep_data to modify",
            "type": "string",
            "required": true
          },
          {
            "name": "m_salesrep_data request body",
            "in": "body",
            "description": "Body of the PATCH request",
            "schema": {
              "$ref": "#/definitions/m_salesrep_dataBody"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Modified m_salesrep_data"
          },
          "400": {
            "description": "Database retrieval failure",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "401": {
            "description": "Permission denied",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "500": {
            "description": "Internal bug. Please file a bug report at bubble.io/support/report with the request that triggers this bug",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Replaces a thing of type m_salesrep_data by unique ID",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "UniqueID",
            "in": "path",
            "description": "Unique ID of the m_salesrep_data to replace",
            "type": "string",
            "required": true
          },
          {
            "name": "m_salesrep_data request body",
            "in": "body",
            "description": "Body of the PUT request",
            "schema": {
              "$ref": "#/definitions/m_salesrep_dataBody"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Replaced m_salesrep_data"
          },
          "400": {
            "description": "Database retrieval failure",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "401": {
            "description": "Permission denied",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "500": {
            "description": "Internal bug. Please file a bug report at bubble.io/support/report with the request that triggers this bug",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a thing of type m_salesrep_data by unique ID",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "UniqueID",
            "in": "path",
            "description": "Unique ID of the m_salesrep_data to delete",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Replaced m_salesrep_data"
          },
          "400": {
            "description": "Database retrieval failure",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "401": {
            "description": "Permission denied",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "500": {
            "description": "Internal bug. Please file a bug report at bubble.io/support/report with the request that triggers this bug",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          }
        }
      }
    },
    "/obj/m_salesrep_data": {
      "get": {
        "description": "Retrieve a list of things of type m_salesrep_data with some optional search constraints. Retrieves 100 items at most at once.",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to fetch (maximum is 100)",
            "type": "integer",
            "format": "int32",
            "default": 50
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Position to start from in the list",
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "name": "sort_field",
            "in": "query",
            "description": "Field to sort the list on",
            "type": "string"
          },
          {
            "name": "descending",
            "in": "query",
            "description": "Sorting type: descending or ascending",
            "type": "boolean"
          },
          {
            "name": "constraints",
            "in": "query",
            "description": "Search constraints, stringified array as described [here](https://manual.bubble.io/core-resources/api/data-api#search-constraints)",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved list of m_salesrep_data",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/m_salesrep_data"
                      }
                    },
                    "cursor": {
                      "type": "number",
                      "format": "float",
                      "description": "Rank of the first item in the list"
                    },
                    "count": {
                      "type": "number",
                      "format": "float",
                      "description": "Number of items in the current response. It is the minimum between the actual length of the list and the sent limit (or 100 if you did not specify a limit)."
                    },
                    "remaining": {
                      "type": "number",
                      "format": "float",
                      "description": "Number of remaining items after the current response. Useful to fetch more items."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Database retrieval failure",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "401": {
            "description": "Permission denied",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "500": {
            "description": "Internal bug. Please file a bug report at bubble.io/support/report with the request that triggers this bug",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new thing of type m_salesrep_data",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "m_salesrep_data request body",
            "in": "body",
            "description": "Body of the POST request",
            "schema": {
              "$ref": "#/definitions/m_salesrep_dataBody"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created one thing of type m_salesrep_data",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Success status of the operation"
                },
                "id": {
                  "type": "string",
                  "description": "Unique id of the newly created object"
                }
              }
            }
          },
          "400": {
            "description": "Database retrieval failure",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "401": {
            "description": "Permission denied",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "500": {
            "description": "Internal bug. Please file a bug report at bubble.io/support/report with the request that triggers this bug",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          }
        }
      }
    },
    "/obj/prod_roleperception/{UniqueID}": {
      "get": {
        "description": "Retrieve a thing of type prod_roleperception by unique ID",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "UniqueID",
            "in": "path",
            "description": "Unique ID of the prod_roleperception to retrieve",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved prod_roleperception",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "$ref": "#/definitions/prod_roleperception"
                }
              }
            }
          },
          "400": {
            "description": "Database retrieval failure",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "401": {
            "description": "Permission denied",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "500": {
            "description": "Internal bug. Please file a bug report at bubble.io/support/report with the request that triggers this bug",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Modifies a thing of type prod_roleperception by unique ID",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "UniqueID",
            "in": "path",
            "description": "Unique ID of the prod_roleperception to modify",
            "type": "string",
            "required": true
          },
          {
            "name": "prod_roleperception request body",
            "in": "body",
            "description": "Body of the PATCH request",
            "schema": {
              "$ref": "#/definitions/prod_roleperceptionBody"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Modified prod_roleperception"
          },
          "400": {
            "description": "Database retrieval failure",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "401": {
            "description": "Permission denied",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "500": {
            "description": "Internal bug. Please file a bug report at bubble.io/support/report with the request that triggers this bug",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Replaces a thing of type prod_roleperception by unique ID",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "UniqueID",
            "in": "path",
            "description": "Unique ID of the prod_roleperception to replace",
            "type": "string",
            "required": true
          },
          {
            "name": "prod_roleperception request body",
            "in": "body",
            "description": "Body of the PUT request",
            "schema": {
              "$ref": "#/definitions/prod_roleperceptionBody"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Replaced prod_roleperception"
          },
          "400": {
            "description": "Database retrieval failure",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "401": {
            "description": "Permission denied",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "500": {
            "description": "Internal bug. Please file a bug report at bubble.io/support/report with the request that triggers this bug",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a thing of type prod_roleperception by unique ID",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "UniqueID",
            "in": "path",
            "description": "Unique ID of the prod_roleperception to delete",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Replaced prod_roleperception"
          },
          "400": {
            "description": "Database retrieval failure",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "401": {
            "description": "Permission denied",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "500": {
            "description": "Internal bug. Please file a bug report at bubble.io/support/report with the request that triggers this bug",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          }
        }
      }
    },
    "/obj/prod_roleperception": {
      "get": {
        "description": "Retrieve a list of things of type prod_roleperception with some optional search constraints. Retrieves 100 items at most at once.",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to fetch (maximum is 100)",
            "type": "integer",
            "format": "int32",
            "default": 50
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Position to start from in the list",
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "name": "sort_field",
            "in": "query",
            "description": "Field to sort the list on",
            "type": "string"
          },
          {
            "name": "descending",
            "in": "query",
            "description": "Sorting type: descending or ascending",
            "type": "boolean"
          },
          {
            "name": "constraints",
            "in": "query",
            "description": "Search constraints, stringified array as described [here](https://manual.bubble.io/core-resources/api/data-api#search-constraints)",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved list of prod_roleperceptions",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/prod_roleperception"
                      }
                    },
                    "cursor": {
                      "type": "number",
                      "format": "float",
                      "description": "Rank of the first item in the list"
                    },
                    "count": {
                      "type": "number",
                      "format": "float",
                      "description": "Number of items in the current response. It is the minimum between the actual length of the list and the sent limit (or 100 if you did not specify a limit)."
                    },
                    "remaining": {
                      "type": "number",
                      "format": "float",
                      "description": "Number of remaining items after the current response. Useful to fetch more items."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Database retrieval failure",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "401": {
            "description": "Permission denied",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "500": {
            "description": "Internal bug. Please file a bug report at bubble.io/support/report with the request that triggers this bug",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new thing of type prod_roleperception",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "prod_roleperception request body",
            "in": "body",
            "description": "Body of the POST request",
            "schema": {
              "$ref": "#/definitions/prod_roleperceptionBody"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created one thing of type prod_roleperception",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Success status of the operation"
                },
                "id": {
                  "type": "string",
                  "description": "Unique id of the newly created object"
                }
              }
            }
          },
          "400": {
            "description": "Database retrieval failure",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "401": {
            "description": "Permission denied",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "500": {
            "description": "Internal bug. Please file a bug report at bubble.io/support/report with the request that triggers this bug",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          }
        }
      }
    },
    "/obj/prod_employmentoffer/{UniqueID}": {
      "get": {
        "description": "Retrieve a thing of type prod_employmentoffer by unique ID",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "UniqueID",
            "in": "path",
            "description": "Unique ID of the prod_employmentoffer to retrieve",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved prod_employmentoffer",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "$ref": "#/definitions/prod_employmentoffer"
                }
              }
            }
          },
          "400": {
            "description": "Database retrieval failure",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "401": {
            "description": "Permission denied",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "500": {
            "description": "Internal bug. Please file a bug report at bubble.io/support/report with the request that triggers this bug",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Modifies a thing of type prod_employmentoffer by unique ID",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "UniqueID",
            "in": "path",
            "description": "Unique ID of the prod_employmentoffer to modify",
            "type": "string",
            "required": true
          },
          {
            "name": "prod_employmentoffer request body",
            "in": "body",
            "description": "Body of the PATCH request",
            "schema": {
              "$ref": "#/definitions/prod_employmentofferBody"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Modified prod_employmentoffer"
          },
          "400": {
            "description": "Database retrieval failure",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "401": {
            "description": "Permission denied",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "500": {
            "description": "Internal bug. Please file a bug report at bubble.io/support/report with the request that triggers this bug",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Replaces a thing of type prod_employmentoffer by unique ID",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "UniqueID",
            "in": "path",
            "description": "Unique ID of the prod_employmentoffer to replace",
            "type": "string",
            "required": true
          },
          {
            "name": "prod_employmentoffer request body",
            "in": "body",
            "description": "Body of the PUT request",
            "schema": {
              "$ref": "#/definitions/prod_employmentofferBody"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Replaced prod_employmentoffer"
          },
          "400": {
            "description": "Database retrieval failure",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "401": {
            "description": "Permission denied",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "500": {
            "description": "Internal bug. Please file a bug report at bubble.io/support/report with the request that triggers this bug",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a thing of type prod_employmentoffer by unique ID",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "UniqueID",
            "in": "path",
            "description": "Unique ID of the prod_employmentoffer to delete",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Replaced prod_employmentoffer"
          },
          "400": {
            "description": "Database retrieval failure",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "401": {
            "description": "Permission denied",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "500": {
            "description": "Internal bug. Please file a bug report at bubble.io/support/report with the request that triggers this bug",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          }
        }
      }
    },
    "/obj/prod_employmentoffer": {
      "get": {
        "description": "Retrieve a list of things of type prod_employmentoffer with some optional search constraints. Retrieves 100 items at most at once.",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to fetch (maximum is 100)",
            "type": "integer",
            "format": "int32",
            "default": 50
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Position to start from in the list",
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "name": "sort_field",
            "in": "query",
            "description": "Field to sort the list on",
            "type": "string"
          },
          {
            "name": "descending",
            "in": "query",
            "description": "Sorting type: descending or ascending",
            "type": "boolean"
          },
          {
            "name": "constraints",
            "in": "query",
            "description": "Search constraints, stringified array as described [here](https://manual.bubble.io/core-resources/api/data-api#search-constraints)",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved list of prod_employmentoffers",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/prod_employmentoffer"
                      }
                    },
                    "cursor": {
                      "type": "number",
                      "format": "float",
                      "description": "Rank of the first item in the list"
                    },
                    "count": {
                      "type": "number",
                      "format": "float",
                      "description": "Number of items in the current response. It is the minimum between the actual length of the list and the sent limit (or 100 if you did not specify a limit)."
                    },
                    "remaining": {
                      "type": "number",
                      "format": "float",
                      "description": "Number of remaining items after the current response. Useful to fetch more items."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Database retrieval failure",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "401": {
            "description": "Permission denied",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "500": {
            "description": "Internal bug. Please file a bug report at bubble.io/support/report with the request that triggers this bug",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new thing of type prod_employmentoffer",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "prod_employmentoffer request body",
            "in": "body",
            "description": "Body of the POST request",
            "schema": {
              "$ref": "#/definitions/prod_employmentofferBody"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created one thing of type prod_employmentoffer",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Success status of the operation"
                },
                "id": {
                  "type": "string",
                  "description": "Unique id of the newly created object"
                }
              }
            }
          },
          "400": {
            "description": "Database retrieval failure",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "401": {
            "description": "Permission denied",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "500": {
            "description": "Internal bug. Please file a bug report at bubble.io/support/report with the request that triggers this bug",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          }
        }
      }
    },
    "/obj/prod_md_decisions/{UniqueID}": {
      "get": {
        "description": "Retrieve a thing of type prod_md_decisions by unique ID",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "UniqueID",
            "in": "path",
            "description": "Unique ID of the prod_md_decisions to retrieve",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved prod_md_decisions",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "$ref": "#/definitions/prod_md_decisions"
                }
              }
            }
          },
          "400": {
            "description": "Database retrieval failure",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "401": {
            "description": "Permission denied",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "500": {
            "description": "Internal bug. Please file a bug report at bubble.io/support/report with the request that triggers this bug",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Modifies a thing of type prod_md_decisions by unique ID",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "UniqueID",
            "in": "path",
            "description": "Unique ID of the prod_md_decisions to modify",
            "type": "string",
            "required": true
          },
          {
            "name": "prod_md_decisions request body",
            "in": "body",
            "description": "Body of the PATCH request",
            "schema": {
              "$ref": "#/definitions/prod_md_decisionsBody"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Modified prod_md_decisions"
          },
          "400": {
            "description": "Database retrieval failure",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "401": {
            "description": "Permission denied",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "500": {
            "description": "Internal bug. Please file a bug report at bubble.io/support/report with the request that triggers this bug",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Replaces a thing of type prod_md_decisions by unique ID",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "UniqueID",
            "in": "path",
            "description": "Unique ID of the prod_md_decisions to replace",
            "type": "string",
            "required": true
          },
          {
            "name": "prod_md_decisions request body",
            "in": "body",
            "description": "Body of the PUT request",
            "schema": {
              "$ref": "#/definitions/prod_md_decisionsBody"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Replaced prod_md_decisions"
          },
          "400": {
            "description": "Database retrieval failure",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "401": {
            "description": "Permission denied",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "500": {
            "description": "Internal bug. Please file a bug report at bubble.io/support/report with the request that triggers this bug",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a thing of type prod_md_decisions by unique ID",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "UniqueID",
            "in": "path",
            "description": "Unique ID of the prod_md_decisions to delete",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Replaced prod_md_decisions"
          },
          "400": {
            "description": "Database retrieval failure",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "401": {
            "description": "Permission denied",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "500": {
            "description": "Internal bug. Please file a bug report at bubble.io/support/report with the request that triggers this bug",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          }
        }
      }
    },
    "/obj/prod_md_decisions": {
      "get": {
        "description": "Retrieve a list of things of type prod_md_decisions with some optional search constraints. Retrieves 100 items at most at once.",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to fetch (maximum is 100)",
            "type": "integer",
            "format": "int32",
            "default": 50
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Position to start from in the list",
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "name": "sort_field",
            "in": "query",
            "description": "Field to sort the list on",
            "type": "string"
          },
          {
            "name": "descending",
            "in": "query",
            "description": "Sorting type: descending or ascending",
            "type": "boolean"
          },
          {
            "name": "constraints",
            "in": "query",
            "description": "Search constraints, stringified array as described [here](https://manual.bubble.io/core-resources/api/data-api#search-constraints)",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved list of prod_md_decisions",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/prod_md_decisions"
                      }
                    },
                    "cursor": {
                      "type": "number",
                      "format": "float",
                      "description": "Rank of the first item in the list"
                    },
                    "count": {
                      "type": "number",
                      "format": "float",
                      "description": "Number of items in the current response. It is the minimum between the actual length of the list and the sent limit (or 100 if you did not specify a limit)."
                    },
                    "remaining": {
                      "type": "number",
                      "format": "float",
                      "description": "Number of remaining items after the current response. Useful to fetch more items."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Database retrieval failure",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "401": {
            "description": "Permission denied",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "500": {
            "description": "Internal bug. Please file a bug report at bubble.io/support/report with the request that triggers this bug",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new thing of type prod_md_decisions",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "prod_md_decisions request body",
            "in": "body",
            "description": "Body of the POST request",
            "schema": {
              "$ref": "#/definitions/prod_md_decisionsBody"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created one thing of type prod_md_decisions",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Success status of the operation"
                },
                "id": {
                  "type": "string",
                  "description": "Unique id of the newly created object"
                }
              }
            }
          },
          "400": {
            "description": "Database retrieval failure",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "401": {
            "description": "Permission denied",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "500": {
            "description": "Internal bug. Please file a bug report at bubble.io/support/report with the request that triggers this bug",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          }
        }
      }
    },
    "/obj/prod_premiumreport_hhsss/{UniqueID}": {
      "get": {
        "description": "Retrieve a thing of type prod_premiumreport_hhsss by unique ID",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "UniqueID",
            "in": "path",
            "description": "Unique ID of the prod_premiumreport_hhsss to retrieve",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved prod_premiumreport_hhsss",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "$ref": "#/definitions/prod_premiumreport_hhsss"
                }
              }
            }
          },
          "400": {
            "description": "Database retrieval failure",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "401": {
            "description": "Permission denied",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "500": {
            "description": "Internal bug. Please file a bug report at bubble.io/support/report with the request that triggers this bug",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Modifies a thing of type prod_premiumreport_hhsss by unique ID",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "UniqueID",
            "in": "path",
            "description": "Unique ID of the prod_premiumreport_hhsss to modify",
            "type": "string",
            "required": true
          },
          {
            "name": "prod_premiumreport_hhsss request body",
            "in": "body",
            "description": "Body of the PATCH request",
            "schema": {
              "$ref": "#/definitions/prod_premiumreport_hhsssBody"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Modified prod_premiumreport_hhsss"
          },
          "400": {
            "description": "Database retrieval failure",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Error code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "401": {
            "description": "Permission denied",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message for the operation"
                }
              }
            }
          },
          "500": {
            "description": "Internal bug. Please file a bug report at bubble.io/support/report with the request that triggers this bug",
            "schema": {
[...]
